.Rproj.user
.Rhistory
.RData
.Ruserdata


# ignore figures folder for now
/figures

# ignore archive folders
/archive
/data/input/archive
/data/output/archive
/data/evol_envir_path_calculations/archive